# All files
[*]
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true

# Repository
[*.{md,json,yml}]
indent_size = 2

# Visual Studio
[*.sln]
indent_style = tab

[*.{slnx,csproj,vbproj,fsproj,vcxproj,vcxproj.filters,resx,props,config,vstemplate}]
indent_size = 2

[*.{sln,slnx,csproj,vbproj,fsproj,vcxproj,vcxproj.filters,resx,props,config,vstemplate}]
charset = utf-8-bom

# Resources
[*.rc]
charset = utf-16le
trim_trailing_whitespace = false

[resource.{h,hpp}]
trim_trailing_whitespace = false
