# .NET
.dotnet/

# Rider
.idea/

# Visual Studio
.vs/
ipch/

*.vcxproj.user
*.csproj.user
*.vbproj.user
*.fsproj.user
*.aps

# Binary
*.exe
*.dll
*.lib
*.obj
*.pdb
*.exp

# Compilation
[Bb]in/
[Dd]ist/
[Oo]bj/
[Ww][Ii][Nn]32/
[Xx]86/
[Xx]64/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]32/
[Aa][Rr][Mm]64/

# Template
templates/**/include/
templates/**/static/
templates/**/shared/

# Repository
*.temp/
*.temp.*
temp/
temp.*

# Windows
[Dd]esktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
